@model IEnumerable<DDI.Models.Interaction>

@{
	ViewData["Title"] = "Home Page";
}
<body>

	<div class="text-center">
		<h1 class="display-4">"Drug" Interaction</h1>
		<p>example of the working website. Currently returns one drug</p>
		<sub>if you're reading this you've probably failed the drug test btw.</sub>
	</div>
	<form>
		<label id="thang"> Drug Field:</label>
		<input type="text" placeholder="initial drug" class="mtr-5" name="drugName" id="thang" required>
		<button type="submit" class="btn-primary">submit</button>
	</form>
	<table class="table mt-4" col>
		<thead>
			<tr>
				<th scope="col" class="col-1">Drug ID</th>
				<th scope="col" class="col-1">Drug Name</th>
				<th scope="col">Interaction</th>
				<th scope="col" class="col-1">extra thing?</th>
			</tr>
		</thead>
		@foreach (var interaction in Model)
		{
			<tr>
				<td class="th-c">@interaction.Drug.Id</td>
				<td class="th-c">@interaction.Drug.ScientificName</td>
				<td class="th-c">@interaction.Description</td>
				<td><button class="btn btn-danger">Subscribe</button></td>
			</tr>
		}
	</table>

	@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	}
</body>
